
.box{
    
    height: 100vh;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
}

.box1{
    /* border: 1px solid rgb(158, 16, 16); */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 60px;
}

input{
    width: 80%;
    height: 35px;
    margin: 0 100px 0 100px;
    background-color: transparent;
    border:1px solid rgb(102, 99, 99);
    color: white;
}

.box2{
    margin: 50px 100px 0 100px;
}


button{
    
width: 200px;
height: 40px;
}